.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 5s linear;
  height: 80px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
/* Global
===================*/
.sm-section{
  padding: 20px 0;
}

/* Position specific
===================*/
.App-header {
  background-color: #222;
  color: white;
}